{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="display-4">About Us</h1>
        <p class="lead">Welcome to our website!</p>
        <p>We are a team of enthusiastic students from GDSC VIT Vellore, and this website is our hackathon project.</p>
        <p>Our website implements the Elo rating algorithm, which is commonly used to rank and compare the skill levels of players in competitive games and sports.</p>
        <h3 class="mt-5">Team Members:</h3>
        <ul class="list-group">
            <li class="list-group-item">Sidhant Srivastava - Tech</li>
            <li class="list-group-item">Aditya Chowdhary - Tech</li>
            <li class="list-group-item">G Tejojith - Manager</li>
            <li class="list-group-item">Kritika Sharma - Manager</li>
            <li class="list-group-item">Pooja Vijay - Designer</li>
        </ul>
    </div>
{% endblock %}
