{% extends 'base.html' %}

{% block title %}List of Players{% endblock %}

{% block content %}
    <div class="card-container">
        {% for i in data %}
            <div class="card red-background mb-3 animate__animated animate__fadeInUp">
                <div class="card-header">
                    <h3 class="card-title">
                        {{ i["name"] }} <span class="font-weight-bold">{{ i["rating"] }}</span>
                    </h3>
                </div>
                <div class="card-body">
                    <p class="card-text">{{i["description"]}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

